src/main/java/com/epam/data/students.dtd

<?xml version="1.0" encoding="UTF-8 ?>
        <!ELEMENT students (student)+>
        <!ELEMENT student (name, phone, address)>
        <!ATTLIST student
                    login ID #REQUERED  faculty CDDATA #REQUERED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT phone (#PCDATA)>
        <!ELEMENT address (country, city, street)>
        <!ELEMENT country (#PCDATA)>
        <!ELEMENT city (#PCDATA)>
        <!ELEMENT street (#PCDATA)>